.item1 { grid-area: header; }
.item2 { grid-area: desc; }
.item3 { grid-area: dim; }
.item5 { grid-area: imp; }
.item6 { grid-area: shaft; }
.item9 { grid-area: hole; }
.item12 { grid-area: fit; }
.item13 { grid-area: dfm; }
.item14 { grid-area: mach; }
.item15 { grid-area: submit; }

/* Adjusted CSS for the form to span from grid item 3 to 14 */
#userForm {
    grid-area: form;
    grid-column: span 12;
  }

body{
    align-content: center;
}

.item001{grid-area:input;}
.item002{grid-area:output;}

.master-grid-container{
    display: grid;
  grid-template-areas:
    ' input '
    ' output ';
  gap: 5px;
  padding: 5px;
}

.grid-container1 {
  display: grid;
  grid-template-areas:
    'header  header    header   header '
    'imp      dim      shaft     hole '
    'fit      dfm        mach   submit'
    'desc     desc      desc    desc';
  gap: 5px;
  /*background-color: #2196F3;*/
  column-width: 25%;
  padding: 5px;
}

.grid-container1 > div {
 /* background-color: rgba(190, 190, 190, 0.8); */
  text-align: center;
  padding: 20px 10px;
  font-size: 16px; /* Adjusted font size for better visibility */
}

/*outputs*/

.item17 { grid-area: sugg_c; }
.item18 { grid-area: pic_c; }
.item20 { grid-area: sugg_t; }
.item21 { grid-area: pic_t; }
.item23 { grid-area: sugg_l; }
.item24 { grid-area: pic_l; }
.item100 { grid-area: sugg_i; }
.item101 { grid-area: pic_i; }

.grid-container2 {
    display: grid;
    grid-template-areas:
      'sugg_i   sugg_c   sugg_t      sugg_l '
      'pic_i   pic_c   pic_t      pic_l '
      ;
    gap: 5px;
    /*background-color: #2196F3;*/
   grid-template-rows: auto 400px;
    padding: 5px;
  }
  
  .grid-container2 > div {
    background-color: rgba(190, 190, 190, 0.8);
    text-align: center;
    padding: 20px 10px;
    font-size: 16px; /* Adjusted font size for better visibility */
  }

/*1*/

.shaft-col{
  height: 360px;
  width: 75px;
  float: left;
}

.hole-col{
  height: 360px;
  width: 75px;
  float: left;
}

.shaft{
  background-color: green;
  width: 100%;
  color: black;
  position: relative;
  font-size: 8px;
  display: flex;
 align-items: flex-end;
 justify-content: center;
}
  
.above-shaft{
  width: 100%;
 color: black;
 font-size: 10px;
 display: flex;
 align-items: flex-end;
 justify-content: center;
}

.shaft-var{
    background-color: lightgreen;
    width: 100%;
   color: black;
  position: relative;
  font-size: 10px;
  display: flex;
 align-items: flex-end;
 justify-content: center;
}

.hole{
  background-color: blue;
  width: 100%;
 color: black;
  position: relative;
  font-size: 10px;
  display: flex;
 align-items: flex-start;
 justify-content: center;
}
  
.below-hole{
  width: 100%;
 color: black;
 font-size: 10px;
 display: flex;
 align-items: flex-start;
 justify-content: center;
}

.hole-var{
    background-color: lightblue;
    width: 100%;
   color: black;
  position: relative;
  font-size: 10px;
  display: flex;
 align-items: flex-start;
 justify-content: center;
}

.label{
  color: black;
  align-self: center;
}

.buffer-col{
  height: 360px;
  width: 5px;
  float: left;
}

.line-col{
  width: 15px;
  height: 360px;
  float: left;
}

.line{
  background-color:black;
  width:100%;
  height: 2px;
}

.gap{
  width: 100%;
  height: 177px;
}

.full-line{
  height: 360px;
  width: 2px;
  float: left;
  background-color: black;
}

.label-col{
  height: 360px;
  width: 50px;
  float: left;
}

.text{
  font-size: 10px;
  height: 20px;
  margin: 0;
  width: 50px;
  float: left;
}

.text-gap{
  height: 140px;
  width: 50px;
  float: left;
}

.hidden {
  display: none;
  width: 230px;
  height: 360px;
  margin:auto;
}